<!-- admin.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Fichier CSS personnalisé -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Ajoutez le code d'importation de la police Poppins ici -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap">
    <title>Ajouter des données</title>

    <style>
        /* Pour masquer les formulaires initialement */
        form {
            display: none;
        }
    </style>
    
</head>
<body>
    <button onclick="toggleForm('icecreamForm')">Ajouter une glace</button>
    <button onclick="toggleForm('toppingForm')">Ajouter un topping</button>
    <button id="showIcecreamsBtn">Supprimer des glaces</button>
    <section id="icecreamsSection" class="container" style="display: none;">
        <h2>ICECREAMS</h2>
        <div class="row">
            <% icecreams.forEach(icecream => { %>
                <div class="col-md-4">
                    <div class="card">
                        <img src="<%= icecream.icecream_image %>" class="card-img-container" alt="<%= icecream.icecream_name %>">
                        <div class="card-body">
                            <h5 class="card-title"><%= icecream.icecream_name %></h5>
                            <p class="card-text"><%= icecream.icecream_description %></p>
                            <p class="card-text">Price : $<%= icecream.icecream_baseprice %></p>
                            <!-- Formulaire pour supprimer la glace -->
                            
                            <button class="btn btn-danger" onclick="deleteIcecream(<%= icecream.icecream_id %>)">Remove from DB</button>                    
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>
    
    
    
    <form id="icecreamForm" action="/addIcecream" method="POST">
        <h1>Ajouter Une Glace</h1>
        <label for="icecream_brand">Marque de la glace :</label>
        <input type="number" id="icecream_brand" name="icecream_brand" required>
        <br>

        <label for="icecream_name">Nom de la glace :</label>
        <input type="text" id="icecream_name" name="icecream_name" required>
        <br>

        <label for="icecream_baseprice">Prix de la glace :</label>
        <input type="number" id="icecream_baseprice" name="icecream_baseprice" required>
        <br>

        <label for="icecream_calory">Calorie de la glace :</label>
        <input type="number" id="icecream_calory" name="icecream_calory" required>
        <br>

        <label for="icecream_stock">Stock de la glace :</label>
        <input type="number" id="icecream_stock" name="icecream_stock" required>
        <br>

        <label for="icecream_description">Description de la glace :</label>
        <input type="text" id="icecream_description" name="icecream_description" required>
        <br>

        <label for="icecream_image">Image de la glace :</label>
        <input type="text" id="icecream_image" name="icecream_image" required>
        <br>

        <button type="submit">Ajouter</button>
    </form>
    
    <form id="toppingForm" action="/addTopping" method="POST">
        <h1>Ajouter Un Topping</h1>
        <label for="topping_name">Nom du topping :</label>
        <input type="text" id="topping_name" name="topping_name" required>
        <br>
    
        <label for="topping_price">Prix du topping :</label>
        <input type="number" id="topping_price" name="topping_price" required>
        <br>
    
        <label for="topping_calory">Calorie du topping :</label>
        <input type="number" id="topping_calory" name="topping_calory" required>
        <br>
    
        <label for="topping_stock">Stock du topping :</label>
        <input type="number" id="topping_stock" name="topping_stock" required>
        <br>
    
        <label for="topping_description">Description du topping :</label>
        <input type="text" id="topping_description" name="topping_description" required>
        <br>
    
        <label for="topping_image">Image du topping :</label>
        <input type="text" id="topping_image" name="topping_image" required>
        <br>
    
        <button type="submit">Ajouter Topping</button>
    </form>

    <script>

        const showIcecreamsBtn = document.getElementById('showIcecreamsBtn');
        const icecreamsSection = document.getElementById('icecreamsSection');
        let currentForm = null;

        showIcecreamsBtn.addEventListener('click', () => {
            // Vérifie si la section est déjà affichée ou non
            const isDisplayed = icecreamsSection.style.display === 'block';
            
            // Affiche ou masque la section en fonction de son état actuel
            icecreamsSection.style.display = isDisplayed ? 'none' : 'block';
        });

        function toggleForm(formId) {
            const form = document.getElementById(formId);
            
            if (currentForm && currentForm !== form) {
                currentForm.style.display = 'none';
            }

            form.style.display = (form.style.display === 'none') ? 'block' : 'none';
            currentForm = form.style.display === 'none' ? null : form;
        }
    </script>
   

</body>
</html>
