<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/myAccount.css">
    <title>Mon Compte - Icreamzouz</title>
    
</head>

<body>
    <a href="/" class="home-button">Go to Homepage</a>
    <div class="my-account-container">
        <div class="user-info">
            <h2>Informations Utilisateur</h2>
            <% if (userData) { %>
                <p><strong>Nom:</strong>
                    <%= userData.user_name %>
                </p>
                <p><strong>Email:</strong>
                    <%= userData.user_email %>
                </p>
                <p><strong>Adresse:</strong>
                    <%= userData.user_address %>
                </p>

                <button onclick="toggleForm('modifyUserForm')">Modifier les infos utilisateur</button>
                <% } else { %>
                    <p>Aucune information trouvée pour cet utilisateur.</p>
                    <% } %>
        </div>

        <!-- Formulaire de modification dans une case séparée -->
        <div class="modify-form" id="modifyUserForm" style="display: none;">

            <form id="modifyUserForm" action="/modifyUser" method="POST">
                <h2>Modifier les Informations</h2>
                <label for="user_name">Nom:</label>
                <input type="text" id="user_name" name="user_name" value="<%= userData ? userData.user_name : '' %>"
                    required><br>

                <label for="user_email">Email:</label>
                <input type="email" id="user_email" name="user_email" value="<%= userData ? userData.user_email : '' %>"
                    required><br>

                <label for="user_address">Adresse:</label>
                <input type="text" id="user_address" name="user_address"
                    value="<%= userData ? userData.user_address : '' %>" required><br>

                <button type="submit">Mettre à jour</button>
            </form>
        </div>
        <!-- Autres contenus HTML -->
    </div>

    <!-- Scripts -->
    <script>
        function toggleForm(formId) {
            var form = document.getElementById(formId);
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
        document.querySelector('.home-button').addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default behavior of anchor tag
            window.location.href = '/'; // Redirect to the homepage
        });
    </script>
</body>

</html>